* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}
#logo {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-login p{
    text-align: right;
}
#main-menu {
    display: flex;
    align-items: center;
    background: #1e90ff;
    justify-content: center;
    list-style: none;
}

#main-menu li a {
    display: block;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
}

#main-menu li a:hover {
    background: #0f6ec7;
    transition: background 0.3s ease;
}

#content {
    min-height: 500px;
    /* padding: 20px 0; */
}

#footer {
    background: #1e90ff;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}