        #wrapper {
            max-width: 969px;
            margin: 0 auto;
        }
        #header, #footer {
            padding: 30px 0px;
            background: lightgray;
            text-align: center;
        }
        #main {
            min-height: 600px;
            padding: 20px;
        }