#wrapper{
    width:960px;
    margin:0 auto;
}
#header{
    background:#1e90ff;
}
#main-menu{
    display:flex;
    align-items: center;
    justify-content: center;
}
#main-menu li a{
    display:block;
    padding:15px 25px;
    color:#fff;
}
#main-menu li a:hover{
    background:#0f6ec7;
}
#content{
    min-height:500px;
    padding:20px 0;
}
#footer{
    background:#1e90ff;
    color:#fff;
    text-align:center;
    padding:10px;
}